[submodule "0x19-stacks_queues_lifo_fifo/monty"]
	path = 0x19-stacks_queues_lifo_fifo/monty
	url = https://github.com/JoseMarulanda/monty
[submodule "monty"]
	path = monty
	url = https://github.com/JoseMarulanda/monty.git
